<!--
    ticke info
-->
<section class="card m-3 p-3" data-ticket-id="{{ticket.id}}" data-user-id="{{user_id}}">
    <div class="card-header">
        <p class="fs-6 fw-lighter">Created by {{ticket.creator.username}} @{{format_time ticket.createdAt}},</p> 
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ticket.title}}</h5>
        <p class="card-text fs-4 fw-bold">{{ticket.content}}</p>
    </div>
    <div class="card-footer bg-transparent border-light fs-6 fw-lighter">
        {{#if ticket.doner}}
            {{#if (eq ticket.status 'doing')}}
                <p class="fs-6 fw-lighter">doing by {{ticket.doner.username}}</p>
            {{/if}}
            {{#if (eq ticket.status 'done')}}
                <p class="fs-6 fw-lighter">Done at {{format_time ticket.done_time}}</p>
            {{/if}}
            {{#if (eq ticket.status 'closed')}}
                <p class="fs-6 fw-lighter">Closed at {{format_time ticket.close_time}}</p>
            {{/if}}
        {{/if}}
    </div>
</section>

<section class="card m-3 p-3">
{{#if is_manager}}
<!--
    if it is manager, 
        show accept ticket function, if the ticket is created
        show done ticket function if the ticket doner is the manager
        show close tickets function
-->
    {{#if (eq ticket.status 'created')}}
        <button class="btn btn-outline-dark" id="acceptBtn">accept</button>
    {{/if}}

    {{#if (eq ticket.status 'doing')}}
        {{#if (eq ticket.doner.id user_id)}}
            <button class="btn btn-outline-dark" id="doneBtn">done</button>
        {{/if}}
    {{/if}}

    {{#if (eq ticket.status 'done')}}
        <button class="btn btn-outline-dark" id="closeBtn">close</button>
    {{/if}}
{{else}}
    {{#if is_superintendent}}
        <!--
            if it is superintendent, 
                show accept ticket button, if the ticket is created
                show done ticket button, if the ticket is doing by self
        -->
        {{#if (eq ticket.status 'created')}}
            <button class="btn btn-outline-dark" id="acceptBtn">accept</button>
        {{/if}}
        {{#if (eq ticket.status 'doing')}}
            {{#if (eq ticket.doner.id user_id)}}
                <button class="btn btn-outline-dark" id="doneBtn">done</button>
            {{/if}}
        {{/if}}
    {{else}}
    <!-- tenant -->
    <!--
        if it is tenant, 
            show close tickets function, if the ticket created by self and is done.
    -->
        {{#if (eq ticket.status 'done')}}
            <button class="btn btn-outline-dark" id="closeBtn">close</button>
        {{/if}}
    {{/if}}
{{/if}}
</section>

<script src="/js/ticketBtnHandler.js"></script>